<footer>
  <small>
    I have a <a href="{{ pkg.author.github }}">github</a>. Social media isn't really my thing.  Just <a href="mailto: {{ pkg.author.email }}">email me</a> if you wanna talk.
  </small>
</footer>
