<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>imagiNathanSpace - {{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
    {% include "assets/css/prism-theme.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <script>
    if ("serviceWorker" in navigator)
      navigator.serviceWorker.register("/service-worker.js");
  </script>
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#160C28"/>
  <link rel="apple-touch-icon" href="static/img/logo-sm.png">
  <link rel="apple-touch-startup-image" href="static/img/logo.png">
</head>
