---
layout: layouts/base.njk
section: projects
permalink: /projects/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set projectslist = collections.project %}
{% include "components/projectslist.njk" %}
